.my-talisman > div + div,
.my-talisman .flex-row > div + div {
  margin-left: 24px;
}

.my-talisman-content {
  position: relative;
  height: 70vh;
}

.my-talisman-skills {
  position: relative;
  height: calc(100% - 110px);
  overflow-y: auto;
}

.my-talisman-card {
  text-align: left;
  min-width: 480px;
  border-radius: 8px;
}

.my-talisman-card > .ant-card-body {
  padding: 12px;
}

.my-talisman-card > .ant-card-head {
  padding: 0 12px;
}

.my-talisman-card + .my-talisman-card {
  margin-top: 12px;
}

.my-talisman-card > .ant-card-body > div + div {
  margin-top: 12px;
}
