.calc {
  display: flex;
  width: 100%;
  height: 100%;
}

.calc > div {
  height: 100%;
  overflow-y: auto;
  padding: 32px;
}

.calc > div:first-child {
  width: 24%;
}

.calc > div:last-child {
  width: 76%;
}

.calc-main-view {
  flex-grow: 1;
}

.build-list {
  padding: 16px;
  margin-top: 12px;
  height: calc(100% - 60px);
  overflow-y: auto;
}
